html, body {
  background-image: url("../../img/bg.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Lato'; }

.btn {
  background-color: transparent;
  border: 1px solid #1AC6FF;
  border-radius: 4px;
  color: #1AC6FF;
  padding: 15px 25px;
  margin: 0 7px;
  text-transform: uppercase;
  transition-duration: .2s; }
  .btn:hover {
    background-color: #1AC6FF;
    color: #fff; }

a:hover {
  text-decoration: none; }
a:focus {
  text-decoration: none; }

.bgwhite {
  background-color: #fff; }

.bggray {
  background-color: #F0F0F0; }

.sectionHeader h1 {
  font-size: 45px;
  font-weight: 300;
  text-transform: uppercase; }
  .sectionHeader h1 span {
    color: #1AC6FF; }
.sectionHeader p {
  font-size: 16px;
  font-weight: 300;
  line-height: 25px; }

.navbar-default {
  background-color: transparent !important;
  background-image: none;
  border: none;
  margin: 0px;
  box-shadow: none; }
  .navbar-default .container {
    background-color: transparent;
    line-height: 70px; }
    .navbar-default .container .nav-header {
      float: left; }
      .navbar-default .container .nav-header a {
        color: #fff;
        font-size: 32px;
        margin-right: 55px; }
        .navbar-default .container .nav-header a span {
          color: #1AC6FF; }
    .navbar-default .container .navbar-menu .navbar-menu-left {
      float: left; }
      .navbar-default .container .navbar-menu .navbar-menu-left ul li a {
        color: #CDBED4;
        font-size: 14px;
        text-transform: uppercase;
        transition-duration: .2s;
        padding: 15px 8px 15px 8px; }
        .navbar-default .container .navbar-menu .navbar-menu-left ul li a:hover {
          color: #1AC6FF; }
      .navbar-default .container .navbar-menu .navbar-menu-left ul li .active {
        color: #1AC6FF;
        border-bottom: 2px solid #1AC6FF; }
    .navbar-default .container .navbar-menu .navbar-menu-right {
      float: right; }
      .navbar-default .container .navbar-menu .navbar-menu-right ul li button {
        padding: 8px 27px;
        margin: 0;
        font-size: 13px; }
      .navbar-default .container .navbar-menu .navbar-menu-right ul li:first-child button {
        border: none;
        color: #CDBED4;
        transition-duration: .2s;
        padding-right: 5px; }
        .navbar-default .container .navbar-menu .navbar-menu-right ul li:first-child button:hover {
          color: #1AC6FF;
          background-color: transparent; }

#header {
  text-align: center;
  color: #fff;
  height: 100%; }
  #header .container {
    padding-top: 130px;
    font-weight: 300; }
    #header .container h1 {
      letter-spacing: 1px;
      line-height: 63px;
      font-size: 58px; }
      #header .container h1 span {
        color: #1AC6FF; }
    #header .container h3 {
      line-height: 27px;
      font-size: 24px; }
    #header .container ul {
      margin-top: 25px; }
      #header .container ul li:first-child button {
        padding-left: 50px;
        padding-right: 50px;
        background-color: #1AC6FF;
        color: white; }
        #header .container ul li:first-child button i {
          margin-right: 5px; }
      #header .container ul li:last-child button {
        border-color: #fff;
        color: #fff; }
        #header .container ul li:last-child button:hover {
          background-color: #fff;
          color: #1AC6FF; }

#logos .container ul {
  margin: 20px 0;
  text-align: center;
  overflow: hidden; }
  #logos .container ul li {
    padding: 0px 25px; }
    #logos .container ul li img {
      position: relative; }
    #logos .container ul li:first-child img {
      animation-delay: 0.2s; }
    #logos .container ul li:nth-child(2) img {
      animation-delay: 0.4s; }
    #logos .container ul li:nth-child(3) img {
      animation-delay: 0.6s; }
    #logos .container ul li:nth-child(4) img {
      animation-delay: .8s; }
    #logos .container ul li:last-child img {
      animation-delay: 1s; }

#process .container {
  padding-top: 60px; }
  #process .container .tabs {
    text-align: center; }
    #process .container .tabs li {
      margin: -2px;
      padding: 20px 60px;
      border: 1px solid #E9E9E9; }
      #process .container .tabs li a {
        font-size: 13px;
        text-transform: uppercase; }
      #process .container .tabs li:hover {
        background-color: #1AC6FF;
        border-right-color: #fff;
        border-left-color: #fff; }
        #process .container .tabs li:hover a {
          color: #fff; }
    #process .container .tabs .active {
      background-color: #1AC6FF;
      border-right-color: #fff;
      border-left-color: #fff; }
      #process .container .tabs .active a {
        color: #fff; }
  #process .container .item {
    border-bottom: 1px solid #E9E9E9;
    padding: 30px 0 15px 0; }
    #process .container .item .itemContent h3 {
      line-height: 37px;
      font-size: 34px;
      font-weight: 300;
      text-transform: uppercase; }
      #process .container .item .itemContent h3 span {
        color: #1AC6FF; }
    #process .container .item .itemContent p {
      padding: 7px 0;
      line-height: 25px;
      font-size: 16px; }
    #process .container .item .itemContent ul {
      padding-top: 35px; }

#features .container {
  height: 600px;
  padding-top: 50px; }
  #features .container .col-lg-4 {
    margin-top: 90px;
    padding: 0; }
    #features .container .col-lg-4 div {
      border-radius: 7px 0 0 7px;
      padding: 15px 95px 15px 20px; }
      #features .container .col-lg-4 div h5 {
        color: #1AC6FF;
        font-size: 17px;
        font-weight: bold;
        line-height: 20px;
        text-transform: uppercase; }
      #features .container .col-lg-4 div p {
        font-size: 16px;
        line-height: 30px;
        color: #8D8D8D; }
  #features .container .active {
    background-color: #1AC6FF;
    color: #fff; }
    #features .container .active h5 {
      color: #fff !important; }
  #features .container .col-lg-8 {
    position: relative;
    left: -120px;
    bottom: -40px; }

#featuresList .container {
  padding-top: 90px;
  padding-bottom: 20px;
  text-align: center; }
  #featuresList .container .row {
    margin-bottom: 70px; }
    #featuresList .container .row .col-md-3 i {
      font-size: 50px;
      color: #1AC6FF; }
      #featuresList .container .row .col-md-3 i:hover {
        color: #80dfff; }
    #featuresList .container .row .col-md-3 h6 {
      text-transform: uppercase;
      font-size: 16px;
      margin-bottom: 10px; }
    #featuresList .container .row .col-md-3 p {
      color: #8D8D8D;
      font-size: 15px;
      line-height: 25px; }

#subscription .container {
  padding: 20px 15px; }
  #subscription .container .col-md-5 {
    color: #fff;
    text-align: center; }
    #subscription .container .col-md-5 h2 {
      font-size: 45px;
      font-weight: 300;
      text-transform: uppercase;
      margin-top: 0; }
    #subscription .container .col-md-5 p {
      font-size: 16px;
      line-height: 25px;
      font-weight: 300; }
  #subscription .container .col-md-7 {
    margin-top: 10px; }
    #subscription .container .col-md-7 .col-md-4 input {
      border: none;
      border-left: 3px solid #1AC6FF;
      padding: 10px 0 10px 10px;
      height: 50px;
      font-size: 17px; }
    #subscription .container .col-md-7 .col-md-4 .btn {
      border-color: #E9E9E9;
      color: #E9E9E9; }

#packages .container {
  padding-top: 40px;
  text-align: center; }
  #packages .container .col-md-4 {
    padding: 15px; }
    #packages .container .col-md-4 .package {
      background-color: #f7f7f7;
      padding-bottom: 50px; }
      #packages .container .col-md-4 .package h1 {
        text-transform: uppercase;
        font-size: 25px;
        font-weight: 300;
        line-height: 60px;
        margin: 0; }
      #packages .container .col-md-4 .package .price {
        background-color: #F0F0F0;
        width: 100%;
        padding-bottom: 10px; }
        #packages .container .col-md-4 .package .price h2 {
          color: #1AC6FF;
          font-size: 115px;
          font-weight: 300;
          margin: 0; }
          #packages .container .col-md-4 .package .price h2 span {
            font-size: 47px;
            vertical-align: top;
            position: relative;
            top: 15px; }
        #packages .container .col-md-4 .package .price p {
          color: #1AC6FF;
          margin: 0;
          text-transform: uppercase; }
      #packages .container .col-md-4 .package .description {
        padding: 0 50px; }
        #packages .container .col-md-4 .package .description ul li {
          border-bottom: 1px solid #E9E9E9;
          padding: 20px 0; }
          #packages .container .col-md-4 .package .description ul li:last-child {
            border: none; }
        #packages .container .col-md-4 .package .description .btn {
          width: 100%;
          margin-top: 15px; }
  #packages .container .disabled h1 {
    color: #A3A3A3; }
  #packages .container .disabled .price h2 {
    color: #a3a3a3 !important; }
  #packages .container .disabled .price p {
    color: #a3a3a3 !important; }
  #packages .container .disabled li {
    color: #a3a3a3; }
  #packages .container .disabled .btn {
    border-color: #a3a3a3;
    color: #a3a3a3; }
    #packages .container .disabled .btn:hover {
      background-color: transparent; }

#awards .container {
  text-align: center;
  padding: 25px 15px 50px 15px; }
  #awards .container ul {
    padding-top: 65px; }
    #awards .container ul li {
      padding: 0 25px; }

#clientQuote .container {
  text-align: center;
  padding: 30px 15px 40px 15px; }
  #clientQuote .container .row h1 {
    color: #fff; }
  #clientQuote .container i {
    color: #1AC6FF;
    font-size: 30px;
    position: relative;
    top: 10px; }
  #clientQuote .container p {
    color: #fff;
    font-size: 17px;
    font-weight: 300;
    line-height: 25px; }

#client .container .col-md-10 .col-md-4 .clientImg img {
  border-radius: 100%; }
#client .container .col-md-10 .col-md-4 .clientAbout h1 {
  color: red; }

/*# sourceMappingURL=style.css.map */
