.animateUp{
	animation: animateUp .2s ease;
}

.animateDown{
	animation: animateDown .2s ease;
}

@keyframes animateUp {
    from {
		bottom:-150px;}
    to {
		bottom:0px;}
}

@keyframes animateDown {
    from {
		bottom:150px;}
    to {
		bottom:0px;}
}